[submodule "src/third_party/toml-c"]
	path = src/third_party/toml-c
	url = https://github.com/arp242/toml-c.git
[submodule "src/third_party/tomlc99"]
	path = src/third_party/tomlc99
	url = https://github.com/cktan/tomlc99.git
